		<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
											<a href="#node2-1">Submenu1</a> 
										</li>
										<li class="ma5-li-2-2"><a href="#node2-2">Submenu2</a></li>
										<li class="ma5-li-2-3"> <a class="ma5-path-to-active" href="#node2-3">Submenu3</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span> 
											<!-- active panel -->
											<ul class="ma5-ul-2-3">
												<li class="ma5-li-2-3-1">
													<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
													<a href="#node2-3-1">Isi Submenu3-1</a>
												</li>
												<li class="ma5-li-2-3-3"><a href="#node2-3-3">Isi Submenu3-2</a></li>
												<li class="ma5-li-2-3-4"><a href="#node2-3-4">Isi Submenu3-3</a></li>
											</ul>
										</li>
										<li class="ma5-li-2-4"><a href="#node2-4">Submenu4</a></li>
									</ul>
								</li>
								<li class="ma5-li-3"><a href="#node3">e-voucher</a></li>
								<li class="ma5-li-4"><a href="#node4">Hot Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Voucher Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Promo!</a></li>
							</ul>
						</nav>
						<span id="labeltopkeyword">Top Keyword</span>
						<ul id="list-topkeyword">
							<li><a href="#">Xiaomi Redmi</a></li>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Pakaian muslim</a></li>
							<li><a href="#">Xiaomi redmi</a></li>
							<li><a href="#">Acer Aspire</a></li>
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Hoodie</a></li>
						</ul>
						<div class="troliatas mobile">
							<div class="itemtrolli">
								<span id="ttmitem">
									<a data-toggle="dropdown" role="button">Troli - (0)</a>
									<ul class="dropdown-menu styleddropdown">
										<li>
											<a href="#" class="wrapctncart">
												<div class="thumbcart">
													<img src="https://placehold.it/120x120" class="responsiveimg">
												</div>
												<div class="ctncart">
													<h4>Sample Product</h4>
													<span class="typeorange">Rp 120.000</span>
												</div>
											</a>
										</li>
										<li><a href="#" class="lhsm-btn cart">Checkout</a></li>
									</ul>
								</span>
								<a href="#"><span id="icontroli"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<div id="sidemenu" class="ctn-compresed">
								<ul>
									<li>
										<span class="iconsidemenu ifashion"></span> Fashion
										<div class="submenu">
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="iconsidemenu igadget"></span> Gadget / Komputer
									</li>
									<li>
										<span class="iconsidemenu ibeauty"></span> Beauty / Health
									</li>
									<li>
										<span class="iconsidemenu ielektro"></span> Elektronik
									</li>
									<li>
										<span class="iconsidemenu isport"></span> Sport / Hobi / Otomotif
									</li>
									<li>
										<span class="iconsidemenu ihome"></span> Home / Garden
									</li>
									<li>
										<span class="iconsidemenu iservice"></span> Service
									</li>
									<li>
										<span class="iconsidemenu imakanan"></span> Makanan & Minuman
									</li>
								</ul>
							</div>
						</div>
						<div class="breadcumb">
							<span><a href="#">Home</a></span>
							<span>></span>
							<span><a href="#">Akun Saya</a></span>
							<span>></span>
							<span><a href="#">Pengaturan Toko</a></span>
							<span>></span>
							<span><a href="#">Kategori</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->
		
		<div class="spacermedium"></div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<div class="row">
						<div class="col-md-12">
							<ul class="tablink-akun">
								<li><a href="#">Informasi Toko</a></li>
								<li class="activeli"><a href="#">Kategori</a></li>
								<li><a href="#">Pengiriman</a></li>
								<li><a href="#">Pembayaran</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="tambahbtn">
								<a class="tambahalmt-btn" href="#" data-toggle="modal" data-target="#TMktg"><i class="fa fa-plus"></i> Tambah Kategori</a>
							</div>
							<ul id="draggablePanelList" class="list-unstyled">
								<li class="panel panel-kategorilist">
									<div class="row">
										<div class="col-md-8"><div class="panel-heading"><i class="fa fa-arrows" style="margin-right:1em;"></i>Handphone &nbsp; <span class="text-muted">(31 Produk)</span></div></div>
										<div class="col-md-4">
											<div class="optionbtnED pull-right">
												<button class="edit-edpg"data-toggle="modal" data-target="#EDkategorimdl"><i class="fa fa-pencil"></i></button>
												<button class="del-edpg" data-toggle="tooltip" title="hapus"><i class="fa fa-trash-o"></i></button>
											</div>
										</div>
									</div>
								</li>
								<li class="panel panel-kategorilist">
									<div class="row">
										<div class="col-md-8"><div class="panel-heading"><i class="fa fa-arrows" style="margin-right:1em;"></i>Tablet &nbsp; <span class="text-muted">(16 Produk)</span></div></div>
										<div class="col-md-4">
											<div class="optionbtnED pull-right">
												<button class="edit-edpg" title="edit" data-toggle="modal" data-target="#EDkategorimdl"><i class="fa fa-pencil"></i></button>
												<button class="del-edpg" data-toggle="tooltip" title="hapus"><i class="fa fa-trash-o"></i></button>
											</div>
										</div>
									</div>
								</li>
								<li class="panel panel-kategorilist">
									<div class="row">
										<div class="col-md-8"><div class="panel-heading"><i class="fa fa-arrows" style="margin-right:1em;"></i>Laptop / PC Desktop &nbsp; <span class="text-muted">(22 Produk)</span></div></div>
										<div class="col-md-4">
											<div class="optionbtnED pull-right">
												<button class="edit-edpg" data-toggle="modal" data-target="#EDkategorimdl"><i class="fa fa-pencil"></i></button>
												<button class="del-edpg" data-toggle="tooltip" title="hapus"><i class="fa fa-trash-o"></i></button>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>	
					<div class="spacermedium"></div>
					<div class="row">
						<div class="col-md-12">
							<p class="typelight">Menampilkan 1-3 dari 3 Kategori</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="TMktg" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-plus"></i> &nbsp; Tambah Kategori</h4>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<label for="kktbr">Ketikan Kategori</label>
						<input type="text" name="" id="kktbr" value="">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Simpan</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="EDkategorimdl" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-pencil"></i> &nbsp; Edit Kategori</h4>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<label for="kkt">Ketikan Kategori</label>
						<input type="text" name="" id="kkt" value="Kategori">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="spacerbig"></div>
  <%= render 'layouts/footer' %>
	
	<script>
		jQuery(function($) {
			var panelList = $('#draggablePanelList');
			
			panelList.sortable({
				// Only make the .panel-heading child elements support dragging.
				// Omit this to make then entire <li>...</li> draggable.
				handle: '.panel-heading', 
				update: function() {
					$('.panel', panelList).each(function(index, elem) {
						var $listItem = $(elem),
						newIndex = $listItem.index();
						
						// Persist the new indices.
					});
				}
			});
		});
	</script>
	<script>
		$(function() {
			function reposition() {
				var modal = $(this),
				dialog = modal.find('.modal-dialog');
				modal.css('display', 'block');
				
				// Dividing by two centers the modal exactly, but dividing by three 
				// or four works better for larger screens.
				dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
			}
			// Reposition when a modal is shown
			$('.modal').on('show.bs.modal', reposition);
			// Reposition when the window is resized
			$(window).on('resize', function() {
				$('.modal:visible').each(reposition);
			});
		});
	</script>																																																		