<div class="col-md-6">
                <a class="lhsm-btn detailbtn orangebtn" href="/masuk" ><i class="fa fa-star-o"></i> Tambah ke Wishlist</a>
							</div>
							<div class="col-md-6">
								<a class="lhsm-btn detailbtn" href="/masuk" data-toggle="modal" ><img src="<%= image_path "iconcart2.png" %>" style="position:relative;left:-10px;width: 25px;"> Beli Sekarang</a>
							</div>