<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.namalengkap %></h1>
    <p>
      Pesanan Anda, untuk invoice <%= @mycart.invoice %><br />
      Status: <%= @status %>
    </p>
  </body>
</html>