<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
											<a href="#node2-1">Submenu1</a>
										</li>
										<li class="ma5-li-2-2"><a href="#node2-2">Submenu2</a></li>
										<li class="ma5-li-2-3"> <a class="ma5-path-to-active" href="#node2-3">Submenu3</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
											<!-- active panel -->
											<ul class="ma5-ul-2-3">
												<li class="ma5-li-2-3-1">
													<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
													<a href="#node2-3-1">Isi Submenu3-1</a>
												</li>
												<li class="ma5-li-2-3-3"><a href="#node2-3-3">Isi Submenu3-2</a></li>
												<li class="ma5-li-2-3-4"><a href="#node2-3-4">Isi Submenu3-3</a></li>
											</ul>
										</li>
										<li class="ma5-li-2-4"><a href="#node2-4">Submenu4</a></li>
									</ul>
								</li>
								<li class="ma5-li-3"><a href="#node3">e-voucher</a></li>
								<li class="ma5-li-4"><a href="#node4">Hot Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Voucher Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Promo!</a></li>
							</ul>
						</nav>