<div id="sidemenu" class="ctn-compresed">
								<ul>
									<li>
										<span class="iconsidemenu ifashion"></span><a href="/categories/7">Fashion</a>
										<div class="submenu">
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										 <span class="iconsidemenu igadget"></span><a href="/categories/8">Gadget / Komputer</a>
									</li>
									<li>
										<span class="iconsidemenu ibeauty"></span><a href="/categories/9">Kecantikan / Kesehatan</a>
									</li>
									<li>
										<span class="iconsidemenu ibayianak"></span><a href="/categories/10">Bayi / Anak</a>
									</li>
									<li>
										<span class="iconsidemenu ielektro"></span><a href="/categories/11">Elekronik</a>
									</li>
									<li>
										<span class="iconsidemenu isport"></span><a href="/categories/12">Olahraga / Hobi / Otomotif</a>
									</li>
									<li>
										<span class="iconsidemenu ihome"></span><a href="/categories/13">Rumah / Kebun / Dapur</a>
									</li>
									<li>
										<span class="iconsidemenu ikupon"></span><a href="/categories/14">E-coupon</a>
									</li>
								</ul>
							</div>